ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}

div.john.outer {
  position: absolute;
  border: 1px solid blue;
  height: 300px;
  width: 500px;
}

.john.outer .inner {
  position: relative;
  top: 100px;
  left: 100px;
  border: 1px solid red;
  height: 100px;
  width: 200px;
}



